@import "tailwindcss";

:root {
  --primary100: #cdb4f8;
  --primary200: #B48FF5;
  --primary300: #9B6AF1;
  --primary400: #7C3AED;
  --primary500: #6A1FEA;
  --primary600: #5713CD;
  --primary700: #4710A8;
  --secondary: #d6ffb7;
  --font: "Satoshi";
  --blacks100: #2e2e2e;
  --blacks200: #1a1a1a;
  --blacks300: #0a0a0a;
  --whites100: #fafafa;
  --whites200: #a1a1a1;
  --whites300: #666666;
}

html, body {
  background-color: var(--blacks300);
  color: var(--whites100);
  font-family: var(--font);
}
button {
  cursor: pointer;
}
